<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Web Hosting Service</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"> <img src="/img/logo.png"  height="41"> Web Hosting Service</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/login" class="nav-link">Log in</a>
            </li>
            <li class="nav-item">
              <a href="/registration" class="nav-link">Registration</a>
            </li>
              <li class="nav-item">
              <a href="/plans" class="nav-link">Plans</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

 <section id="instructors" class="p-5 bg-primary">



  <div class="container">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <h2 class="text-center">Welcome {{name}} {{lastname}}!</h2>
                  <h3 class="card-title mb-3">You are  
                    {{#if admin}}
                 an Admin
                {{/if}}
                
                {{#if user}}
                 a User
                {{/if}}</h3>
                  
                  <p class="card-text">
                    Your registered e-mail is:
                    <br>
                    {{email}}.
                  </p>
                      
                          
                {{#if user}}

                 <form action="/cart" method="get">                          
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Go to my Cart </button>
                </form>
                {{/if}}                   
                     {{#if admin}}
                 <form action="/dashboard-create", method="post">                          
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Add Plan</button>
                </form>
                </br>
                <form action="/dashboard-edit", method="post">                          
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Edit Plans</button>
                </form>
                {{/if}}
                <br>
                <a href="/logout">Logout</a>

                </div>
              </div>
            </div>
              
</section>
 

    <!-- Contact-->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Customer Support:</span> (555) 555-5555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Sales Phone:</span> (333) 333-3333
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span> (555)
                webservice@senecaws.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

     
    </footer> 
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Web design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Hosting</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Web design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Hosting</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
                  
                  <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
              </div>
              
          </div>
      </footer>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>