<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Web Hosting Service  </title>
    <link rel = "icon" href = 
"img/favicon.ico" 
        type = "image/x-icon">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"> <img src="img/logo.png"  height="41"> Web Hosting Service</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/login" class="nav-link">Log in</a>
            </li>
            <li class="nav-item">
              <a href="/registration" class="nav-link">Registration</a>
            </li>
            <li class="nav-item">
              <a href="/plans" class="nav-link">Plans</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase -->

    <!-- search -->
    <section class="bg-primary text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
     

          <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Search" />
            <button class="btn btn-dark btn-lg" type="button">Submit</button>
          </div>
        </div>
      </div>
    </section>


    <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Best hosting Service</h1>
        <p class="lead">The global impact of the CoronaVirus has left many businesses scrambling, forcing them to shut down their primary offices and asking their staff to work from home. With a full lockdown looming or already in effect in many parts of the world, there's never been a more pressing time to establish a plan to ensure business continuity, should your primary place of business become inaccessible. </p>
      </div>
      <div class="col-lg-4   overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="img/web-hosting.jpg" alt="752" width="450">
      </div>
    </div>
  </div>
       

  
    <!-- Boxes -->

<div id="divmostpopular">

</div>

    <!-- Contact-->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Customer Support:</span> (555) 555-5555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Sales Phone:</span> (333) 333-3333
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span> (555)
                webservice@senecaws.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

      
    </footer> 
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Web design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Hosting</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
                  
                  <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
              </div>
              
          </div>
      </footer>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <script>

      function loadMostPopular (){

      const plans = {{{ plans }}};
      const plansfeatures = {{{ planFeatures }}};

    console.log(plans)
      var mostpopular = 0;


  for (let index = 0; index < plans.length; index++) {
      if(plans.mostPopular === true){
        mostpopular = index;
      }
  }
      const div1 = document.createElement("div");
      const div2 = document.createElement("div");
      const div3 = document.createElement("div");
      const img = document.createElement("img");
      const h3 = document.createElement("h3");
      const p = document.createElement("p");
      const h4 = document.createElement("h4");
      const a = document.createElement("a");

      div1.className += "";    
      div2.className += "card bg-light";
      div3.className += "card-body text-center";
      img.className += "rounded-circle mb-3";
      h3.className += "card-title mb-3";
      p.className += "card-text";
      a.className += "btn btn-primary";

      img.setAttribute("height", "200");
      img.setAttribute("src", plans[mostpopular].img);

      const title = document.createTextNode( plans[mostpopular].title);
      h3.appendChild(title);

      const description = document.createTextNode( plans[mostpopular].description);
      p.appendChild(description);

      if (plans[mostpopular].price) {
        const price = document.createTextNode("C$" +  plans[mostpopular].price + "/mo");
        h4.appendChild(price);
      }
      const addtoCart = document.createTextNode("Add to Cart");
      a.appendChild(addtoCart);

      div3.appendChild(img);
      div3.appendChild(h3);
      div3.appendChild(p);
      div3.appendChild(h4);
      div3.appendChild(a);

      plansfeatures.forEach((planfeature) => {

        const ul = document.createElement("ul");

        if (plans[mostpopular].planId == planfeature.planId) {
          const li = document.createElement("li");
          const feature = document.createTextNode(planfeature.description);

          li.appendChild(feature);

          ul.appendChild(li);

          div3.appendChild(ul);
        }
      })

      div2.appendChild(div3);

      div1.appendChild(div2);
      
      divmostpopular.appendChild(div1);
      }

        window.onload = loadMostPopular;


    </script>


  </body>
</html>
